*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    /* overflow-y: visible; */
}

/* *::-webkit-scrollbar{
    display: none;
} */

.foot{
    /* overflow-y: hidden; */
}

.all-bar{
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.2),rgba(0,0,0,0.6));
    transition: 1000ms ease-out;
}

.container-sideBar ul .all-bar{
    padding-left: 80px;
    transition: 500ms ease-out;
}