*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------FONT---------- */
@font-face {
    font-family: Inter;
    src: url(asset/interFont.ttf);
}
@font-face {
    font-family: Gen;
    src: url(asset/genshinFont.ttf);
}

.utama{
    width: 100%;
    height: 100vh;
    background-image: url(https://github.com/neisyaholly/JenshinImpekz/blob/main/Login_SignUp/assetLG/REGISTER%20PAGE%20BACKGROUND1.png?raw=true);
    background-size: cover;
    background-position: center;
    display: flex;
}

/* ----------KONTEN---------- */
.konten{
    /* background-color: blue; */
    display: flex;
    margin-left: 5%;
    max-width: 90%;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    /* align-items: center; */
}

/* ----------KIRI---------- */
.kiri{
    /* background-color: green; */
    /* width: 41vw; */
    width: calc(41vw + 2rem);
    height: 100%;
    /* align-self: center; */
}
.logo{
    /* background-color: yellow; */
    width: 100%;
    margin: calc(+40vh - 33%) 0 0 0; 
}
.logo img{
    margin: 0 calc(-30vw + 60%) -15% calc(-30vw + 60%);
    /* background-color: red; */
    max-width: 50vw;
}
.teksLog{
    /* background-color: yellow; */
    font-family: Gen;
    color: white;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: calc(2.2vw + 0.1rem);
}
h2{
    font-size: calc(1.2vw + 0.05rem);
}


/* ----------KANAN---------- */
.kanan{
    background:rgba(255, 255, 255, 0.65);
    width: 40%;
    height: 100%;
    font-family: Inter;
}
.ata{
    /* background-color: grey; */
    width: 80%;
    height: calc(3vw + 1.5%);
    margin: calc(-5% + 25vh) calc(-5.5vw + 25%) 0 calc(-5.5vw + 25%);
}
.panah img{
    /* background-color: aqua; */
    max-width: 100%; 
    display:block; 
    margin-top: -2.5vw;
}
h3{
    font-size: calc(2.5vw + 0.2rem);
    font-weight: 400;
    color: black;
    text-align: center;
    font-family: Inter;
}

.kanan .tenga{
    /* background-color: brown; */
    height: calc(13.5vw + 1.5%);
    width: 80%;
    margin: 5% calc(-5.5vw + 25%) 0 calc(-5.5vw + 25%);

}


.tenga form input{
    background-color: white;
    width: 100%;
    height: 1%;
    margin-bottom: 0.1%;
    padding: 1.5% 5%;
    font-size: 1rem;
    margin-top: 0.5%;
}
.input-password #errorPass{
    /* background-color: rebeccapurple; */
    font-size: 1rem;
    font-family: Inter;
}
.input-email #errorEmail{
    font-size: 1rem;
    font-family: Inter;
}

.Playfor{
    width: 100%;
    height: 5vh;
}
.tenga .Playfor button{
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    margin-top: 8%;
    font-family: Inter;
    font-size: 1.2rem;
}

.bawa{
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
    width:80%;
    /* font: 1rem; */
    font-size: calc(0.95vw + 0.09rem);
    margin: 2% calc(-5.5vw + 25%) 0 calc(-5.5vw + 25%);
}
.forgot-Pass a{
    text-decoration: none;
    font-family: Inter;
    color: black;
    font-weight: 500;
}
.register-Now a{
    text-decoration: none;
    font-family: Inter;
    color: black;
    font-weight: 500;
}


/* ----------MEDIA SCREEN---------- */
@media screen and (max-width: 1440px){
    .input-email{
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: max-content;
    }
    .tenga{
        width: 85%;
        height: 30%;
        margin-left: 3.5rem;
        margin-top: 4rem;
    }  
    form input{
        background-color: white;
        width: 100%;
        height: 5%;
        margin-bottom: 1%;
        padding: 2.7% 2.5%;
        font-size: 1.4rem;
    }
    #errorPass{
        /* background-color: rebeccapurple; */
        font-size: 1rem;
        margin-bottom: 3%;
    }
    #errorEmail{
        font-size: 1rem;
        margin-bottom: 3%;
    }
    .Playfor button{
        width: 100%;
        height: 3.5rem;
    }
}

@media screen and (max-width: 1024px){
    .kanan .tenga{
        /* background-color: brown; */
        width: 80%;
        height: 24%;
        margin-left: 9.5%;
        margin-top: 5%;
    }
    .tenga form input{
        width: 100%;
        height: 4%;
        font-size: 1.1rem;
    }
    .input-password #errorPass{
        font-size: 1rem;
    }
    .input-email #errorEmail{
        font-size: 1rem;
    }
    .tenga .Playfor button{
        width: 100%;
        height: 2.5rem;
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 768px){
    .kanan .tenga{
        width: 89%;
        height: 20%;
        margin-left: 5%;
    }
    .tenga form input{
        width: 100%;
        height: 4%;
        font-size: 0.9rem;
    }
    .input-password #errorPass{
        /* background-color: rebeccapurple; */
        font-size: 0.8rem;
    }
    .input-email #errorEmail{
        font-size: 0.8rem;
    }
    .tenga .Playfor button{
        width: 100%;
        height: 1.8rem;
        font-size: 0.9rem;
    }


}

@media screen and (max-width: 426px){
    .kanan .tenga{
        width: 80%;
        height: 17%;
        margin-left: 10%;
    }
    .tenga form input{
        /* background-color: red; */
        width: 100%;
        height: 4%;
        margin-bottom: 1%;
        font-size:0.6rem;
    }
    .input-password #errorPass{
        /* background-color: rebeccapurple; */
        font-size: 0.6rem;
    }
    .input-email #errorEmail{
        font-size: 0.6rem;
    }
    .tenga .Playfor button{
        width: 100%;
        height: 1.4rem;
        font-size: 0.6rem;
    }

    .konten{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .kiri{
        height: 20%;
        flex-direction: column;
    }

    .logo{
        /* height: ; */
        margin: 2%;
    }

    .kanan{
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }

    .ata{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .panah{
        margin-top: 0;
        position: absolute;
        top: 78%;
    }

    .utama{
        padding-top: 20%;
    }

    .kanan .tenga{
        /* margin-left: 20%; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        margin: 0;
    }

}
